BasedOnStyle: LLVM

AllowShortFunctionsOnASingleLine: None

AllowShortBlocksOnASingleLine: Never
AllowShortIfStatementsOnASingleLine: Never

ColumnLimit: 120

BinPackArguments: true
BinPackParameters: true